
#discover-section {

  .container {
    width: 100%;
    background: url(/assets/img/bg-menu-01.jpg) no-repeat center bottom/contain;
    // background: url(../../../img/bg-menu-01.jpg) no-repeat center bottom/contain;

    @media only screen and (max-width: 400px) {
      background: none;
    }
  }

  .container-position {
    width: 50%;
    padding-top: $containerSpace80;

    @media only screen and (max-width: 1460px) {
      width: 70%;
    }

    @media only screen and (max-width: 1160px) {
      width: 80%;
    }

    @media only screen and (max-width: 620px) {
      width: 90%;
    }

    @media only screen and (max-width: 400px) {
      padding-top: $containerSpace40;
    }
  }

  .text-container {
    text-align: center;

    ul {
      @include centerSpaceBetweenChild;
      padding: 0 40px 40px;

      @media only screen and (max-width: 400px) {
        padding: 0 0 40px;
      }
    }

    li {
      cursor: pointer;
      transition: $transition04;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      position: relative;
      font-size: $fontSize17;

      @media only screen and (max-width: 400px) {
        font-size: $fontSize14;
      }
      
      &::after {
        @include navUnderline;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .menu-wrapper {
    padding-bottom: $containerSpace130;

    @media only screen and (max-width: 400px) {
      padding-bottom: 0;
    }
  }

  .menu-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    background: $bgColorSecondary;
    border-top: 5px solid $bgColorAcent;

    @media only screen and (max-width: 400px) {
      display: block;
    }

    h4 {
      font-size: $fontSize12;
      line-height: $LineHeight25;
      text-transform: uppercase;

      @media only screen and (max-width: 400px) {
        line-height: $LineHeight15;
      }
    }

    p {
      font-size: $fontSize12;
      line-height: $LineHeight25;
      color: $colorPrimary;
      text-transform: capitalize;
      letter-spacing: normal;

      @media only screen and (max-width: 400px) {
        line-height: $LineHeight15;
        margin-top: 5px;
      }
    }
  }

  .menu1,
  .menu2,
  .menu3,
  .menu4,
  .menu5,
  .menu6,
  .menu7,
  .menu8 {
    position: relative;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    align-items: center;
    margin: 15px 15px;
    padding-bottom: $containerSpace20;
    border-bottom: 1px dashed $bgColorPrimary;

    @media only screen and (max-width: 400px) {
      font-size: $fontSize40;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 5px;
    }

    h5 {
      @media only screen and (max-width: 400px) {
        text-align: right;
      }
    }
  }

  .img-container {
    height: 100px;
    width: 100px;
    clip-path: circle(48% at 50% 50%);

    @media only screen and (max-width: 400px) {
      height: 70px;
      width: 70px;
    }
  }

  .menu1 {
    .img-container {
      background: url(/assets/img/dish-item-01.jpg) center/cover;
    }
  }

  .menu2 {
    .img-container {
      background: url(/assets/img/dish-item-02.jpg) center/cover;
    }
  }

  .menu3 {
    .img-container {
      background: url(/assets/img/dish-item-03.jpg) center/cover;
    }
  }

  .menu4 {
    .img-container {
      background: url(/assets/img/dish-item-04.jpg) center/cover;
    }
  }

  .menu5 {
    .img-container {
      background: url(/assets/img/dish-item-05.jpg) center/cover;
    }
  }

  .menu6 {
    .img-container {
      background: url(/assets/img/dish-item-06.jpg) center/cover;
    }
  }

  .menu7 {
    .img-container {
      background: url(/assets/img/dish-item-07.jpg) center/cover;
    }
  }

  .menu8 {
    .img-container {
      background: url(/assets/img/dish-item-08.jpg) center/cover;
    }
  }
}