
#event-section {

  .container-position {
    margin-bottom: $containerSpace200;

    @media only screen and (max-width: 620px) {
      display: none;
    }
  }

  h3 {
    font-weight: $fontWeightRegular;
    color: $colorSecondary;
  }

  h5 {
    font-size: $fontSize24;
    color: $colorPrimary;
  }

  p {
    letter-spacing: normal;
    text-transform: capitalize;
  }

  a {
    position: relative;
    color: $colorPrimary;
    font-weight: $fontWeightRegular;
    transition: $transition04;

    &:hover {
      transform: scale(1.1);
    }

    &::after {
      @include navUnderline;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .text-container {
    text-align: center;
  }

  .event-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 60% 38%;
    gap: 20px;

    @media only screen and (max-width: 1160px) {
      grid-template-columns: 1fr;
    }
  }

  .little-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;

    .text-container {
      background: $bgColorSecondary;
      text-align: left;
      padding: $containerAroundPadding4020;
    }
  }

  .card-wrapper {
    position: relative;
    
    .card-sticker {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .img-container1 {
    background: url(/assets/img/event-01.jpg) center/cover;
  }

  .img-container2 {
    background: url(/assets/img/event-02.jpg) center/cover;
  }

  .card-sticker {
    position: absolute;
    background: $bgColorPrimary;
    text-align: center;
    padding: $containerSpace20;
  }
  
  .info-container {
    padding: $containerBetweenPadding40;

    span {
      font-size: $fontSize16;
      text-wrap: nowrap;
      line-height: $LineHeight25;

      i {
        padding: 0 5px;
      }
    }
  }

  .big-card-container {
    width: 100%;
    background: url(/assets/img/event-03.jpg) center/cover;
    grid-row: -3 / -1;
    grid-column: 2 / 3;
    padding: $containerSpace40;

    @media only screen and (max-width: 1160px) {
      display: none;
    }

    .text-container {
      position: relative;
      height: 100%;
      background: $bgColorSecondary;
      padding-left: $containerSpace20;
      padding-right: $containerSpace20;
    }

    .card-sticker {
      left: 50%;
      transform: translateX(-50%);
    }

    h5 {
      padding-top: $containerSpace145;
    }
  }
}