
#booking-section {

  .container-position {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 35% 65%;
    // grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding-top: $containerSpace80;
    padding-bottom: $containerSpace80;
    text-align: center;

    @media only screen and (max-width: 1160px) {
      display: block;
    }

    @media only screen and (max-width: 400px) {
      padding-top: $containerSpace40;
    }
  }

  .time-container {
    background: $bgColorPrimaryAccent;
    @include outilineDashedOffset;
    padding: $containerAroundPadding5040;
  
    h3 {
      color: $colorSecondary;
    }

    h5 {
      text-transform: uppercase;
      margin-bottom: $containerSpace20;
    }

    p {
      font-size: $fontSize16;
      line-height: $LineHeight25;
      letter-spacing: 2px;

      @media only screen and (max-width: 400px) {
        font-size: $fontSize12;
        letter-spacing: normal;
      }
    }
  }

  .time-container-details {
    padding: $containerBetweenPadding50;

    @media only screen and (max-width: 400px) {
      padding: $containerBetweenPadding30;
    }
  }

  .reservation-container {
    background: $bgColorSecondary;
    padding: 80px;

    @media only screen and (max-width: 620px) {
      padding: $containerAroundPadding4060;
    }

    @media only screen and (max-width: 400px) {
      padding: $containerAroundPadding4020;
    }
  }

  .input-container {
    width: 100%;
    @include gridSideEqual;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }

  select,
  input:not([type="submit"]) {
    height: 50px;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid $bgColorPrimaryLight;
    padding: 5px 0 5px 20px;
  }

  input[value],
  option,
  input::placeholder {
    font-family: $fontFamilytertiary;
    font-size: $fontSize14;
    font-weight: $fontWeightRegular;
    color: $colorPrimary;
  }

  input::placeholder {
    color: $colorPrimaryLight;
  }

  input:focus {
    border-bottom: 2px solid $bgColorAcent;
  }

  input[type="submit"] {
    font-family: $fontFamilytertiary;
    font-size: $fontSize19;
    font-weight: $fontWeightRegular;
    letter-spacing: 5px;
    color: $colorSecondary;
    background: $bgColorPrimary;
    padding: $containerAroundPadding2040;
    border-radius: 150px;
    margin-top: $containerSpace80;
    cursor: pointer;
    transition: $transition04;

    &:hover {
      transform: scale(1.1);
      color: $colorPrimary;
      background: none;
      border: 1px solid $bgColorPrimary;
    }
  }
}