
#store-section {

  .container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }

  .text-container {
    @include centerChild;
    flex-direction: column;
    background: $bgColorSecondary;
    @include outilineDashedOffset;
    padding: $containerAroundPadding5040;

    p {
      color: $colorPrimary;
      text-transform: none;
      text-align: center;
      line-height: $LineHeight42;
    }
  }

  .img-container {
    height: 100px;
    width: 100px;
    background: url(/assets/img/avatar-01.jpg) center/cover;
    clip-path: circle(50% at 50% 50%);
    margin: $containerBetweenPadding40;      
    }

  .bg-container {
    background: url(/assets/img/store-01.jpg) center/cover;

    // @media only screen and (max-width: 1216px) {
    //   height: 300px;
    //   width: 100%;
    // }
  }
}